{% extends 'index.html' %}

{% block titulo %} - Estadisticas {% endblock %}

{% block contenido %}
<h1 class="display-2 hidden-xs-down">
           Estadisticas
            </h1>
            <p class="lead hidden-xs-down">Datos de {{ usuario.username|upper }}</p>
    <div class="row mb-3">
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-inverse card-success">
                        <div class="card-block bg-success">
                            <div class="rotate">
                                <i class="fa fa-gamepad fa-5x"></i>
                            </div>
                            <h6 class="text-uppercase">Juegos</h6>
                            <h1 class="display-1">{{ juegos }}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-inverse card-danger">
                        <div class="card-block bg-danger">
                            <div class="rotate">
                                <i class="fa fa-tag fa-4x"></i>
                            </div>
                            <h6 class="text-uppercase">Consejos</h6>
                            <h1 class="display-1">{{ consejos }}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-inverse card-info">
                        <div class="card-block bg-info">
                            <div class="rotate">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <h6 class="text-uppercase">Comentarios</h6>
                            <h1 class="display-1">{{ comentarios }}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!--/row-->
{% endblock contenido %}